In [ ]:
#Print the tenth element of the string 
Name="Michael Jackson"
print(Name[10])

In [ ]:
print(Name[0])

In [ ]:
print(Name[-1])

In [ ]:
print("Demo for learning git")

In [ ]:
print(10 > 9) 
print(10 == 9) 
print(10 < 9)

In [ ]:
print(bool("Hello")) 
print(bool())

In [ ]:
x = "Hello" 
y = 15 
print(bool(x))
print(bool(y))

In [ ]:
print(bool(False)) 
print(bool(None))
print(bool(0)) 
print(bool("")) 
print(bool(())) 
print(bool([])) 
print(bool({}))

In [ ]:
x,y = 15, 9 
print(x==y) 
print(x!=y) 
print(x>y) 
print(x<y)
print(x>=y) 
print(x<=y)

In [ ]:
x=8 
print(x < 5 and x < 10) 
print(x < 5 or x < 10)
print(not(x>10))
print(not(x < 5 and x < 10))

In [ ]:
x, y = 2,10 
print(x is y) 
print(x is not y)

In [ ]:
x, y = 'Hi', "Hi" 
print(x is y) 
print(x is not y)

In [ ]:
x="Have a good day!"
x

In [ ]:
a = "is not in Pune" 
print('Pune' in a)

In [ ]:
a="I Like Python" 
print(a[-11:-7]) 
print(a[2:6])